@import "../../../../styles/Variables.scss";

.landing-container {
    height: calc(100vh - 3.5rem);
}

.background-container {
    height: 100%;
}

.info-container {
    color: $gray
}

.info-supp-element {
    font-size: 1.5rem;
}   

.info-main-element {
    font-size: 4rem;
}

.typing {
    width: fit-content;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid $dark-green; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: $dark-green; }
  }

.centre {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    
}